@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.user.Name != null)
{
    <div class="d-flex justify-content-between">
        <p>Добро пожаловать <span class="font-weight-bold">@ViewBag.user.Name</span></p>
        <a asp-controller="Home" asp-action="MonsterAdd">Добавить монстра</a>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на конкурс монстров</h1>
    <p>Вы можете посмотреть участников нашего конкурса в меню навигации</p>
    <p>Если вы хотите зарегестрировать вашего монстра</p>
    <p>то сперва вам нужно зарегестрироваться на нашем сайте</p>
    <a asp-action="MonsterList" asp-controller="Home"><button class="btn btn-primary">Посмотреть монстров</button></a>
    <a asp-action="Register" asp-controller="Home"><button class="btn btn-primary">Зарегестрироваться</button></a>

</div>



