@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center d-flex justify-content-center">
    <div class="bg-primary p-5 w-100 mt-3">
        <h1 class="display-4 text-light mt-5">Добро пожаловать</h1>
        <h4 class="text-light">на конкурс монстров</h4>
        <p class="text-light">Вы можете оценить участников нашего конкурса</p>
        <a asp-action="MonsterList" asp-controller="Home"><button class="btn btn-light mt-5 mb-5 text-primary">Посмотреть монстров</button></a>
    </div>
    

</div>



